<ion-header >
  <ion-toolbar>
    <ion-title size="large">
      <ng-content></ng-content>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" >
<ion-list *ngIf="results$ | async as results">
  <ion-item *ngFor="let result of results">
    <ion-note slot="start" color="tertiary">Score: {{result.score}}</ion-note>
     <ion-label>{{result.word}}</ion-label>
      <ion-toggle color="primary" (click)="addResult($event, result)" ></ion-toggle>
  </ion-item>
</ion-list>
</ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="presentModal()">
      <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
  </ion-fab>
