<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rhymebook">
      <ion-icon name="book"></ion-icon>
      <ion-label>Rhyme Book</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sound">
      <ion-icon name="headset"></ion-icon>
      <ion-label>Another Sound</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="related">
      <ion-icon name="repeat"></ion-icon>
      <ion-label>Another Word</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="brainstorm">
      <ion-icon name="thunderstorm-outline"></ion-icon>
      <ion-label>Brainstom</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="random">
      <ion-icon name="help"></ion-icon>
      <ion-label>Random</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
