
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rhyme Book</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Textarea in an item with a floating label -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Start Writing...</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

</ion-content>
