
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rhyme Book</ion-title>
    </ion-toolbar>
  </ion-header>
    <!-- Textarea in an item with a floating label -->
    <ion-card>
      <ion-card-header>
        <ion-card-title class="notepad-title">Start ideating!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content [style.background-color]="'#ead2ac'">
        <div class="textarea-wrapper">
          <ion-textarea class="notepad"  cols="30" rows="58" [(ngModel)]="content"></ion-textarea>
        </div>
      </ion-card-content>
    </ion-card>

</ion-content>
