/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-content {
    height: 40em;
    overflow: auto;
    margin-right: 5em;
    width: 24em;
   
  
}
ion-card {
    padding-right: 10em;
    padding-left: -5em;
    width: 24em;
    height: 40em;
    margin-top: .5em;
    margin-right: 7em;
    background-color: #ead2ac;
}

ion-card-content {
    width: 23em;
    height: 40em;
    overflow: auto;
    // margin-right: 5em;
    background-color: #ead2ac;

   
}


.notepad-title {
    font-family: 'Covered By Your Grace', cursive;
}

ion-textarea {
    height: 70em;
    background-color: #ead2ac;
}
.notepad {
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-top: .1em;
    border-color: #ccc;

  
    font-size: 13px;
    line-height: 20px;
     width: 24em;
     height: auto;
     overflow: auto;
   
  }
  
  .textarea-wrapper {
    display: inline-block;
    background-image: linear-gradient(#F1F1F1 50%, #f1eec1 50%);
    background-size: 100% 40px;
    background-position: left 10px;
    background-color: #ead2ac;
    height: auto;
    width: 23em;
    // height: 25em;
  }

  ion-item {
      height: 40em;
      background-color: #ead2ac;
      width: auto;
  }